# Everything
.dotfiles-git
[Dd]esktop
[Dd]ocuments
[Bb]ackup
[Pp]rojects
[Rr]espondent
[Dd]ownloads
[Aa]pplications

# For shame!
[Ss]nap 
[Ss]ource

.cert
.bash_logout
.bash_history
.bash_profile

.local
.cache

.cargo
.gnupg


.ICEauthority
.inxi_info

.lesshst

# TODO: Maybe the profiles need to be salvaged here?
.mozilla

.npm
.nvm

.nv
.nx

.qt

.oh-my-zsh
.pki
.running_kernel

.rustup
!.rustup/settings.toml
.shell.pre-oh-my-zsh

source
.vscode*

.Xauthority
.Xclients
.xinitrc
.xsession-errors
.xsession-errors.old
.zcompdump-baozi-5.8.1
.zi
.zinit
.zsh_history
.zsh_sessions
.zshrc.pre-oh-my-zsh

.docker
.doppler
*.bak
.zprofile

# Mac
Movies
Music
Templates
Public
Pictures
Library
.Trash

.CFUserTextEncoding
.DS_Store
.zcompdump*
.zsh-nvm

.viminfo
.yarn

.cups
.node

.bigqueryrc
.eslint_d
.gradle
.m2
.minikube
.node_repl_history
.pgadmin

# tmux resurrect stateful stuff
.tmux

.ts_node_repl_history
.yarnrc

.android
AndroidStudioProjects

.wget-hsts

.config/tmux/plugins
cypress.env.json

