[user]
	email = jakehamtexas@gmail.com
	name = Jake Hamilton
	signingkey = 49D796A8EFCB9394
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	editor = /opt/homebrew/bin/nvim
[commit]
	gpgsign = true
